<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

    <form [formGroup]="addNewPostForm" (ngSubmit)="addNewPost(addNewPostForm.value)">
      <input type="text" id="name" class="fadeIn second" name="name" formControlName="title" placeholder="name">
      <input type="text" id="title" class="fadeIn second" name="title" formControlName="title" placeholder="title">
      <input type="text" id="category" class="fadeIn third" name="category" formControlName="category"
        placeholder="category">
      <input type="text" id="author" class="fadeIn third" name="author" formControlName="author" placeholder="author">

      <editor apiKey="test" formControlName="content" class="editenOr" [init]="{plugins: 'link'}"></editor>
      <input type="submit" class="fadeIn fourth" value="Add New Post">


    </form>

  </div>
  <div class="col-2"></div>
</div>