<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/user.png" style="width: 32px; height:32px" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="connect(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" name="login" formControlName="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="login" formControlName="password"
        placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">


    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/forgotPassword">Forgot Password?</a>
      <br>
      <a class="underlineHover" routerLink="/register">Register</a>
    </div>

  </div>
</div>